section.oos h3 {
  padding-bottom : 20px;
}

.oos {
  padding-top : 60px;
}

img.shadow {
  box-shadow : 0 15px 35px rgba(50,50,93,.1),
               0 5px 15px rgba(0,0,0,.07);
}

section.oos h3 {
  font-weight : 100;
}

section.features p {
  padding-bottom : 50px;
}
